<!DOCTYPE html>
<html lang="es" title="Coding design">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rendimiento CDT</title>
    <script src="../js/graphs.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../css/graphs.css" />
    <link rel="icon" href="../img/icon.png" type="image/x-icon" />
  </head>

  <body>
    <main class="container">
      <!-- Encabezado -->
      <header class="header">
        <h1>Rendimiento CDT</h1>
        <h2 id="Total">Total</h2>
        <div class="actions">
          <button
            class="btn regresar"
            onclick="regresarAtras()"
            title="Regresar"
          ></button>

          <div class="export__file">
            <label
              for="export-file"
              class="export__file-btn"
              title="Exportar archivo"
            ></label>
            <input type="checkbox" id="export-file" />
            <div class="export__file-options">
              <label>Exportar como &nbsp; &#10140;</label>
              <label for="export-file" id="toCSV" onclick="exportarCSV()"
                >CSV</label>
            </div>
          </div>
        </div>
      </header>

      <!-- Tabla -->
      <section class="table__wrapper">
        <table id="resultsTable">
          <thead>
            <tr>
              <th>Periodo</th>
              <th>Inversión</th>
              <th>Rendimientos</th>
              <th>Ahorro</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>

      <!-- Gráfico -->
      <section class="chart__section">
        <h3>Gráfico de Periodo vs Rendimiento</h3>
        <div class="chart__container">
          <canvas id="capitalChart"></canvas>
        </div>
      </section>
    </main>
  </body>
</html>
